.debug {
  border: 2px solid black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
/****HEADER***/
header {
  height: 80px;
  background-color: #f8f9fa;
}

header .my-container {
  width: 100%;
  background-color: white;
  height: 50px;
  width: 100%;
}

header .logo-mobile {
  width: 50px;
}

header .logo-big {
  width: 130px;
}

.header-right a {
  color: #36383e;
  padding-right: 17px;
}

.fa-bell {
  color: #ff8f00;
}

.header-center {
  background-color: #e5e5e5;
  border-radius: 5px;
}

.custom-input {
  background-color: #e5e5e5;
  box-shadow: none;
}

.custom-input:focus {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

/***MAIN***/
main {
  margin-top: 80px;
  height: calc(100vh - 80px);
}

/****BAR-TOP**/

.bar-left {
  width: 70px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.bar-top {
  width: 100%;
}

.bar-top ul {
  padding: 0;
}

.bar-left a {
  color: white;
  width: 100%;
}

.btn-transparent {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/****CONTENUTO-GRANDE**/
.content-big {
  width: calc(100vw - 70px);
}

.jumbotron {
  background-color: #1a72e8;
  color: white;
}

.plus {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 5px;
}

.plus:hover {
  color: black;
  background-color: white;
}

.offcanvas.offcanvas-enlarged {
  width: 100%;
  padding-right: 50px;
}

.custom-bt {
  border-radius: 10px;
  background-color: #165bba;
  border: none;
  color: white;
  font-size: 0.9rem;
}

.custom-bt .fa-plus {
  font-size: 0.8rem;
}

.custom-bt:hover {
  background-color: #074191;
}

th img {
  width: 30px;
}

.custom-bt-table {
  border-radius: 6px;
  border: none;
  font-size: 0.8rem;
  padding: 1px 7px;
  color: white;
}

.underline{
  text-decoration: underline;
}

/******responsive**/

@media screen and (min-width: 992px) {
  .bar-left {
    width: 150px;
  }
  
}

@media screen and (min-width: 1200px){

  .offcanvas.offcanvas-enlarged {
    width: 50%;
  }

}

