.debug{
  border: 2px solid black
  
}

ul{
  list-style: none; 
 }
 
 a{
   text-decoration: none;
 }
/****HEADER***/
header{
  height: 80px; 
  background-color: #F8F9FA;
}

header .my-container {
  width: 100%;
  background-color: white;
  height: 50px;
  width: 100%;  
}

header .logo-mobile{
  width: 50px;
}

header .logo-big{
  width: 130px;
}


/***MAIN***/
main{
  margin-top: 80px;
  height: calc(100vh - 80px);
}

/****BAR-TOP**/

.bar-left{
  width: 70px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.bar-top{
  width: 100%;
}

.bar-top ul{
  padding: 0;
}

.bar-left a {
  color: white;
  width: 100%;
}

.btn-transparent {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/****CONTENUTO-GRANDE**/
.content-big{
  width: calc(100vw - 70px);
}

/******responsive**/

@media screen and (min-width: 992px) {
  
  .bar-left{
    width:150px;
  }
  
}